/* <style> */
        body {
            background-image: url(images/dogs.jpg);
            background-position: center center;
            background-repeat: no-repeat;
            background-attachment:inherit;
            background-size: cover;
            background-color: #464646;
        }
        #contact .container, #blog .container{
            background-color: rgba(10, 10, 10, 0.4);
            border-radius: 4px;
        }
        .container-fluid{
            background-color:#282828;
        }
        /* nav */
        .nav a:hover{
            background-color:white;
            border-radius: 4px;
            color:black;
        }
        .nav {
            padding:12px;
        }
        .nav a{
            color: white;
        }
        /* adoption */
        img{
            width: 200px;
            height: 200px;
        }
        #adoption div{
            margin: 2.5em 0 50px 0;
            display: grid;
            grid-gap: 20px;
            align-items: stretch;
            grid-template-columns: repeat(auto-fill, minmax(300px,1fr));
        }
        #adoption div > article{
            border: 1px solid black;
            border-radius: 4px;
            background-color: rgb(255, 255, 255, 0.5);
        }
        #adoption div > article img{
            max-width: 100%;
            width: 100%;
        }
        #adoption h3{
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            padding: 10px;
        }
        #adoption a{
            text-decoration: none;
            text-align: center;
            color: black;
        }
        footer{
            display: flex;
            justify-content: center;
            margin-top: 20px;
            width: auto;
            color: white;
            
        }
        footer a{
            padding: 7px;
            border-radius: 4px;
            border: 2px solid black;
            text-decoration: none;
            color: black;
            background-color: white;

        }
        article:hover{
            box-shadow: 2px 2px 6px 0px rgb(246, 78, 0);
            margin-top: -2px;
        }

        footer a:hover{
            box-shadow: 2px 2px 6px 0px rgb(246, 78, 0);
            color: white;
            background-color: black;
        }
        .row img{
            max-width: 100%;
            height: auto;
            width: 100%;
        }
        
/* contact */
        #contact .row {
		    display: flex;
		    flex-wrap: wrap;
		    box-sizing: border-box;
		    align-items: stretch;
        }
        #contact ul{
            text-align: center;
            list-style: none;
            /* social */
        }
        ul.social {
		    cursor: default;
		    margin: 0;
		    padding-left: 0;
        }

		ul.social li {
			position: relative;
			display: inline-block;
			margin: 0.25em;
			top: 0;
			padding-left: 0;
		}
        ul.social li a{
            background-color: #444;
			border-radius: 6px;
			color: #ffffff;
			display:block;
			font-size: 26px;
			height: 48px;
			line-height: 48px;
			text-align: center;
			overflow: hidden;
			width: 68px;
        }
        ul.social li a:hover{
            background-color: rgb(98, 98, 180);
        }
        ul.social li:hover{
            top:-5px;
        }
        header h1{
            font-weight: bold;
            text-align: center;
            color: white;
        }
        header p{
            font-style: italic;
            color: rgb(204, 199, 199);
            text-align: center;
        }

        #contact #copyright{
            margin-bottom: 60px;
            margin-top: 60px;
            font-size: 20px;
        }
    

		#contact .container {
			width: 900px;
		}
		@media screen and (max-width: 1280px) {

			#contact .container {
				width: 720px;
			}
		}

		@media screen and (max-width: 980px) {

			#contact .container {
				width: 75%;
			}
		}

		@media screen and (max-width: 736px) {

			#contact .container {
				width: 100%;
			}
		}
        
        .form-control:hover, .form-control:focus{
            background-color: rgb(230, 221, 204);
        }
        #blog img{ 
            width: 100%;
            height: auto;
        }
        
        .blog-text{
            color: white;
            text-shadow: 2px 2px black;
        }